@using App.Expenses.Repository.Interface
@model api_fetch.ViewModel.IndexDataVm
@inject IExpensesRecordRepository ExpensesRecord
@inject IIncomeRecordRepository IncomeRecord
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .dashboard-Info{
        cursor:pointer;
    }

    .fa-solid{
        transition: 0.1s;
    }

    .dashboard-Info:hover .fa-solid{
        transform: scale(1.1)
    }
    .info-boxes{
    box-shadow:0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border-radius:.25rem;
    background-color:#fff;
    display:flex;
    flex-direction: row;
    margin-bottom:1rem;
    min-height:30px;
    padding:.5rem;
    width:100%}
    
    .info-boxes .info-box-icon{
    border-radius:.25rem;
    align-items:center;
    display:flex;
    font-size:1.875rem;
    justify-content: center;
    text-align:center;
    width:70px
    }
    .info-boxes span{
        font-weight: bold;
    }
    .info-boxes .item-name {
        flex-grow: 1; /* Let it take up remaining space */
        margin-right: auto; /* Push it to the left */
    }
</style>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3 dashboard-Info" onclick="window.location.href= 'Root/Income/Index'">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1">
                <i class="fas fa-money-bill-wave"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Total Income</span>
                <span class="info-box-number">
                    Rs. @Model.TotalIncome
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3 dashboard-Info" onclick="window.location.href = 'Root/Expenses/Index' ">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1">
                <i class="fas fa-money"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Total Expenses</span>
                <span class="info-box-number">Rs. @Model.TotalExpenses</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-4 col-md-3 dashboard-Info" onclick="window.location.href = 'Home/Index' ">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
                <i class="fa fa-solid fa-hammer"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Processing Tasks</span>
                <span class="info-box-number">5</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-4 col-md-3 dashboard-Info">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-green elevation-1">
                <i class="fas fa-solid fa-check"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Completed Tasks</span>
                <span class="info-box-number">10</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>


<div class="row">
    @* <div class="col-6"> *@
    @*     <!-- PIE CHART --> *@
    @*     <div class="card card-dark"> *@
    @*         <div class="card-header"> *@
    @*             <h3 class="card-title">Task Chart</h3> *@
    @* *@
    @*             <div class="card-tools"> *@
    @*                 <button type="button" class="btn btn-tool" data-card-widget="collapse"> *@
    @*                     <i class="fas fa-minus"></i> *@
    @*                 </button> *@
    @*                 @*<button type="button" class="btn btn-tool" data-card-widget="remove"> *@
    @*                     <i class="fas fa-times"></i> *@
    @*                 </button> *@
    @*             </div> *@
    @*         </div> *@
    @*         <div class="card-body"> *@
    @*             <canvas  style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas> *@
    @*         </div> *@
    @* *@
    @*         <!-- /.card-body --> *@
    @*     </div> *@
    @*     <!-- /.card --> *@
    @* </div> *@
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Summary</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="chart-responsive">
                            <canvas id="incomeChart" height="240" width="240"></canvas>
                        </div>
                        <!-- ./chart-responsive -->
                    </div>
                    <div class="col-md-6">
                        <div class="chart-responsive">
                            <canvas id="expensesChart" height="240" width="240"></canvas>
                        </div>
                        <!-- ./chart-responsive -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Income
                            @if (@Model.TotalIncome < @Model.TotalExpenses)
                            {
                                <span class="float-right text-danger">
                                    <i class="fas fa-arrow-down text-sm"></i>
                                    @(Model.TotalExpenses - Model.TotalIncome)
                                </span>
                            }
                            else
                            {
                                <span class="float-right text-success">
                                    <i class="fas fa-arrow-up text-sm"></i>
                                    @(Model.TotalIncome - Model.TotalExpenses)
                                </span>
                            }

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Expenses
                            @if (@Model.TotalExpenses < @Model.TotalIncome)
                            {
                                <span class="float-right text-success">
                                    <i class="fas fa-arrow-down text-sm"></i>
                                    @(Model.TotalIncome - Model.TotalExpenses)
                                </span>
                            }
                            else
                            {
                                <span class="float-right text-danger">
                                    <i class="fas fa-arrow-up text-sm"></i>
                                    @(Model.TotalExpenses - Model.TotalIncome)
                                </span>
                            }
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.footer -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>Upcoming Bills</strong>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <!-- Info Boxes Style 2 -->
                    @{
                        foreach (var item in Model.Reminders)
                        {
                            <div class="info-boxes mb-3 bg-info">

                                <span class="info-box-icon">
                                   <i class="fa fa-repeat"></i>
                                </span>
                                <span class="item-name">@item.Name</span>
                                @if (@item.DueDays == 0)
                                {
                                    <span class="item-name">Today</span>

                                }else if(@item.DueDays == 1){
                                <span class="item-name">Tomorrow</span>
                                }
                                else
                                {
                                    <span class="item-name">In @item.DueDays Days</span>
                                }
                                
                                <span>@item.Date.ToShortDateString()</span>
                            </div>
                        }
                    }

                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/plugins/chart.js/Chart.js"></script>
<script src="Chart/PieChart.js"></script>