@model api_fetch.Areas.Root.ViewModel.Expenses.ExpensesSearchVm
<div class="main-container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Date From</label>
                                    <vc:date-input name="Date" value="@Model.Date"/>
                                </div>
                            </div>
                            @* <div class="col-2"> *@
                            @*     <div class="form-group"> *@
                            @*         <label asp-for="EndDate">Date To</label> *@
                            @*         <vc:date-input-vc value="Model.EndDate" name="@nameof(Model.EndDate)"/> *@
                            @*     </div> *@
                            @* </div> *@
                            <div class="col-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-primary btn-block">
                                        <i class="fa fa-search mr-1"></i>
                                        search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 text-center">
                            <strong>List</strong>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>S.n</th>
                            <th>Name</th>
                            <th>Payment Status</th>
                            <th>Amount</th>
                            <th>Transaction Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int i = 1;
                            @foreach (var item in Model.ExpensesCategories)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td>@item.Category</td>
                                    <td>@item.Status</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Date</td>
                                    <td>
                                        <a class="btn btn-success" asp-controller="Expenses" asp-action="Update" asp-area="Root">
                                            <i class="fa fa-pencil-square-o"></i>
                                            Update
                                        </a>
                                        <a class="btn btn-danger" asp-area="Root" asp-controller="Expenses" asp-action="Delete">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>